{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header bg-purple">
      About
    </div>
    <div class="card-body text-justify">
      <p>
        The Traingshub is a (retraining) training and knowledge center where you can go with all your questions about
        the use of Dutch Sign Language (NGT) and interpreting for deaf and hard of hearing people. We devise and provide
        training. Independent but often in collaboration with professionals.
      </p>
      <p>
        The Traingshub challenges NGT interpreters, writing interpreters and combination interpreters to broaden their
        skills, take a different interpretation direction or apply an alternative interpretation strategy. We also offer
        training for the deaf and hearing people.
      </p>
      <p>
        Our in-service training is divided into four forms. These are the Knowledge evenings, Meet and Greets, training
        courses and intervision. Everyone with their own objectives and way of doing things. These forms are in turn
        divided into three levels: The novice interpreter / re-entrant, the interpreter and the experienced interpreter
        / CODA.
      </p>
      <p>
        It is up to you as an interpreter to check what you need.
      </p>
      <br>
      <div>
        <h6><strong>History</strong></h6>
        <img src="{% static 'img/img-about.jpg' %}" alt="image of Suzanne and Dorothy"
          class="img-fluid float-md-right pl-sm-0 pl-md-3">
        <p>
          In December 2015, we, Suzanne Heuft and Dorothy de Leeuw, started as a company based on the vision that
          everyone
          should be part of a (knowledge) network in order to obtain information and good training / education.
        </p>
        <p>
          Suzanne (right) as a teacher and creative brain, Dorothy as a co-brain, back office employee and RTGS contact
          person. The team was expanded in 2018 with Kirsten de Ven as hostess and Kirsten provides the tastiest lunches
          during the training sessions. Together we are committed to interesting, personal and professional
          post-training
          for all types of interpreters. Emancipation, improvement of position and fair education for the deaf and a
          better world for interpreters, deaf and hearing people by bringing everyone together.
        </p>
        <p>
          The trainers of the Training Hub are thinkers who do. Practitioners who also want to continue to develop
          themselves. They are enthusiastic, involved and decisive, think in terms of possibilities and stimulate what
          is
          going well. With their advice they help you to make your own choices and to achieve your development goals.
        </p>
        <p>
          The name comes from the American "hub", a junction of connections. Connections are the driving force within
          networks.
        </p>
        <p>
          We work with a homely atmosphere in which safety and trust are central. We stand for quality, information,
          experience, specialism, logical thinking and innovation.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}