{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-purple">
      Complaints procedure
    </div>
    <div class="card-body">
      <p>
        We at the Training Hub do our utmost to make sure that everything goes according to everyone's wishes.
        Nevertheless, it is possible that you are not entirely satisfied with a course that you have followed. If
        desired, it is possible to make your complaint known. Below you can read a description of how you can submit
        your complaint and how it will be handled.
      </p>
      <h6><strong>Purpose of the procedure</strong></h6>
      <p>
        Registering and handling complaints in a careful, confidential and effective manner, removing the causes and
        taking adequate measures to prevent a recurrence. In short, promoting the quality of the in-service training and
        the in-service training organization.
      </p>
      <h6><strong>Receipt and registration complaint</strong></h6>
      <p>
        You can file your complaint by sending it to the emailaddress: <a
          href="mailto:traininghubwoerden@icloud.com">traininghubwoerden@icloud.com</a>. A complaint must be submitted
        within four weeks of the follow-up training. Complaints that arrive after this
        period will not be processed. After receiving a complaint it will be processed. The complaint is recorded in a
        complaint file.
      </p>
      <h6><strong>Handling complaint</strong></h6>
      <p>
        Within 2 weeks after receiving the complaint, the submitter will receive a confirmation of receipt of the
        complaint by email. The practitioner investigates the complaint and determines whether it is well founded.
        Within four weeks of receipt, the complaint must be processed by the Training Hub. If the handling takes a
        longer period due to circumstances, the submitter will be informed by email. If the solutions offered by the
        Training Hub are not sufficient for the submitter, the independent in-service training board will respond to the
        complaint within 4 weeks. All complaints will be treated confidentially.
      </p>
      <h6><strong>Measures</strong></h6>
      <p>
        If the complaint is found to be unfounded, the complainant will be informed of this by email, with an
        explanation of the findings. If the complaint is found to be justified, the submitter will be informed by email
        of the solution or measure to be taken. The solution or measure is implemented within four weeks of the decision
        being announced. Those involved are informed by the practitioner. In order to promote quality, measures are
        taken and procedures are adjusted if necessary to prevent a recurrence of the complaint.
      </p>
      <h6><strong>Closure</strong></h6>
      <p>
        After the complaint has been processed, the complaint registration form is processed and archived at Health
        Investment. The complaint registration form and accompanying documents are kept for a period of three years.
      </p>
    </div>
  </div>
</div>
{% endblock content %}