{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
  <div class="clearfix my-5">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'img/fp-img.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-white-faded text-purple p-5 rounded shadow">
        <span>welcome at</span><br>
        <img src="{% static 'img/th - logo-full.svg' %}" alt="" class="img-fluid mt-2 mb-4">
        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus quam, vero obcaecati fugiat
          earum ipsum odio, excepturi amet reprehenderit porro dignissimos in commodi libero tenetur quod aliquid, est
          optio accusantium!
        </p>
        <div class="intro-button mx-auto s">
          <a class="btn btn-outline-purple btn-lg shadow" href="{% url 'course-list' %}">Browse courses</a>
        </div>
      </div>
    </div>
  </div> <!-- 3 CARDS WITH EXPLANATION OF THE COURSE TYPES -->
  <div class="row">
    <!-- TRAING CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow">
        <div class="card-header bg-purple">Training</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum quidem quod officiis
            nulla quibusdam ut. Culpa similique illo, laboriosam blanditiis sed quam voluptatibus nemo reiciendis
            consequuntur odit, in quae aliquam.</p>
        </div>
        <a type="button" class="mx-auto mb-3 btn btn-outline-purple" href="{% url 'training-list'%}">Browse</a>
      </div>
    </div>
    <!-- MEET & GREET CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow ">
        <div class="card-header bg-purple">Meet & Greet</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus optio nihil dolorum
            recusandae ipsam, animi sequi odit saepe quasi adipisci nemo voluptate dolore hic, at veniam natus eius
            eaque
            blanditiis.</p>
        </div>
        <a type="button" class="mx-auto btn btn-outline-purple mb-3" href="{% url 'meet-greet-list'%}">Browse</a>
      </div>
    </div>
    <!-- KNOWLEDGE EVENING CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow">
        <div class="card-header bg-purple">Knowledge evening</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, quidem iste aperiam
            dolores ab cupiditate repellendus voluptatum impedit est in, ea molestias, nobis veritatis. Nobis doloribus
            velit dolores laborum delectus?</p>
        </div>
        <a type="button" class="mx-auto mb-3 btn btn-outline-purple" href="{% url 'knowledge-evening-list'%}">Browse</a>
      </div>
    </div>
  </div>


  <!-- LAST ADDED COURSE -->
  <div class="card mt-3 mb-3 shadow">
    <div class="card-header bg-purple text-light">
      <i class="far fa-calendar-alt"></i> {{ course.date }} - NEW COURSE
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-md-9">
          <div class="pt-3 pb-1 px-3">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text m-2">{{ course.description | linebreaks | truncatewords:50 }}</p>

            <!-- BUTTON FOR EDITING COURSE FOR STAFF MEMBERS -->
            {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'course-update' pk=course.id %}"><i
                class="fas fa-edit mr-2"></i>Edit course</a>
            {% endif %}

            <a class="btn btn-sm btn-outline-purple" href="{% url 'course-detail' pk=course.id %}"><i
                class="fas fa-info-circle mr-2"></i>More info</a>

            <!-- BUTTON FOR SIGNUP, IF ALREADY SIGNED UP A DISABLED BUTTON IS SHOWN -->
            {% if course.id in signedup %}
            <a class="btn btn-sm btn-secondary disabled" href="{% url 'signup' id=course.id %}"><i
                class="fas fa-check-double mr-2"></i>Signed up</a>
            {% else %}
            <a class="btn btn-sm btn-outline-success" href="{% url 'signup' id=course.id %}"><i
                class="fas fa-user-plus mr-2"></i>Sign up</a>
            {% endif %}

            <!-- EXTRA INFO ABOUT THE COURSE -->
            <div class="mt-2 mb-0">
              <small class="text-muted">
                <!-- Costs for the course -->
                {% if course.costs != 0 %}
                <i class="fas fa-euro-sign"></i>
                {{ course.costs }}
                {% endif %}
                <!-- Target audience for course -->
                <i class="fas fa-users ml-3"></i>
                {% if course.ngt %}
                <span class="ml-2">NGT </span>
                {% endif%}
                {% if course.schrijftolk %}
                <span class="ml-2">Schrijftolk </span>
                {% endif%}
                {% if course.asl %}
                <span class="ml-2">ASL </span>
                {% endif%}
                {% if course.combitolk %}
                <span class="ml-2">Combitolk</span>
                {% endif%}

                <!-- Credtit for course -->
                <i class="far fa-credit-card ml-3"></i>
                {% if course.credit_language_and_interpreting_skills != 0 %}
                <span class="ml-2">{{ course.credit_language_and_interpreting_skills }} Language &
                  Interpreting</span>
                {% endif%}
                {% if course.credit_attitude != 0 %}
                <span class="ml-2">{{ course.credit_attitude }} Attitude</span>
                {% endif%}
                {% if course.credit_target_audiences != 0 %}
                <span class="ml-2">{{ course.credit_target_audiences }} Target audience</span>
                {% endif%}

              </small>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img class="d-none d-md-block float-right mt-0 ml-0 mb-0 img-fluid" src="{{ course.image.url }}"
            alt="image {{ course.name }}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}