{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
  <div class="clearfix my-5">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'img/fp-img.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-white-faded text-purple p-5 rounded shadow">
        <span>welcome at</span><br>
        <img src="{% static 'img/th - logo-full.svg' %}" alt="" class="img-fluid mt-2 mb-4">
        <p class="mb-3">De Trainingshub is a training and knowledge center where you can go with all your
          questions about the use of Dutch Sign Language (NGT) and interpreting for deaf and hard of hearing people. We
          devise and provide training. Independent but often in collaboration with professionals.
        </p>
        <div class="intro-button mx-auto s">
          <a class="btn btn-outline-purple btn-lg shadow" href="{% url 'course-list' %}">Browse courses</a>
        </div>
      </div>
    </div>
  </div> <!-- 3 CARDS WITH EXPLANATION OF THE COURSE TYPES -->
  <div class="row">
    <!-- TRAING CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow">
        <div class="card-header bg-purple">Training</div>
        <div class="card-body">
          <p class="card-text">As a training agency, we set high standards for our training courses and trainers. They
            must be a true addition of knowledge and skills. The courses are process-based, clear and differ from entry
            level. Personal growth, coaching, group learning, knowledge transfer and networking are important core
            values in our training courses.</p>
        </div>
        <a type="button" class="mx-auto mb-3 btn btn-outline-purple" href="{% url 'training-list'%}">Browse
          Trainings</a>
      </div>
    </div>
    <!-- MEET & GREET CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow ">
        <div class="card-header bg-purple">Meet & Greet</div>
        <div class="card-body">
          <p class="card-text">Increasingly, questions are asked whether we want to bridge the gap between different
            (isolated) target groups. And as a knowledge network, we love connecting parties and thus increasing our and
            your network. That is why we from de Trainingshub are now going to organize 'Meet and Greets' to bring
            people into contact. These are shop window days, sniffing moments, getting to know a target group. It is an
            accessible way to get in touch. And by supervising a very experienced interpreter / teacher, it is also a
            pleasant way for all parties.</p>
        </div>
        <a type="button" class="mx-auto btn btn-outline-purple mb-3" href="{% url 'meet-greet-list'%}">Browse Meet &
          Greets</a>
      </div>
    </div>
    <!-- KNOWLEDGE EVENING CARD -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow">
        <div class="card-header bg-purple">Knowledge evening</div>
        <div class="card-body">
          <p class="card-text">Knowledge is there to be shared. Because that makes us all better! We therefore see it as
            our mission to expand this (knowledge) network and make it accessible to others.
            Knowledge evenings given by professionals who are highly regarded in their area and know what they are
            talking about. Knowledge evenings that benefit interpreters, deaf and hearing people and that are
            interesting to follow. And a good opportunity for our visitors to network.</p>
        </div>
        <a type="button" class="mx-auto mb-3 btn btn-outline-purple" href="{% url 'knowledge-evening-list'%}">Browse
          Knowledge evenings</a>
      </div>
    </div>
  </div>


  <!-- LAST ADDED COURSE -->
  {% if course %}
  <div class="card mt-3 mb-3 shadow">
    <div class="card-header bg-purple text-light">
      <i class="far fa-calendar-alt"></i> {{ course.date }} - NEW COURSE
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-md-9">
          <div class="pt-3 pb-1 px-3">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text m-2">{{ course.description | linebreaks | truncatewords:50 }}</p>

            <!-- BUTTON FOR EDITING COURSE FOR STAFF MEMBERS -->
            {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'course-update' pk=course.id %}"><i
                class="fas fa-edit mr-2"></i>Edit course</a>
            {% endif %}

            <a class="btn btn-sm btn-outline-purple" href="{% url 'course-detail' pk=course.id %}"><i
                class="fas fa-info-circle mr-2"></i>More info</a>

            <!-- BUTTON FOR SIGNUP, IF ALREADY SIGNED UP A DISABLED BUTTON IS SHOWN -->
            {% if course.id in signedup %}
            <a class="btn btn-sm btn-secondary disabled" href="{% url 'signup' id=course.id %}"><i
                class="fas fa-check-double mr-2"></i>Signed up</a>
            {% else %}
            <a class="btn btn-sm btn-outline-success" href="{% url 'signup' id=course.id %}"><i
                class="fas fa-user-plus mr-2"></i>Sign up</a>
            {% endif %}

            <!-- EXTRA INFO ABOUT THE COURSE -->
            <div class="mt-2 mb-0">
              <small class="text-muted">
                <!-- Costs for the course -->
                {% if course.costs != 0 %}
                <i class="fas fa-euro-sign"></i>
                {{ course.costs }}
                {% endif %}
                <!-- Target audience for course -->
                <i class="fas fa-users ml-3"></i>
                {% if course.ngt %}
                <span class="ml-2">NGT </span>
                {% endif%}
                {% if course.schrijftolk %}
                <span class="ml-2">Schrijftolk </span>
                {% endif%}
                {% if course.asl %}
                <span class="ml-2">ASL </span>
                {% endif%}
                {% if course.combitolk %}
                <span class="ml-2">Combitolk</span>
                {% endif%}

                <!-- Credtit for course -->
                <i class="far fa-credit-card ml-3"></i>
                {% if course.credit_language_and_interpreting_skills != 0 %}
                <span class="ml-2">{{ course.credit_language_and_interpreting_skills }} Language &
                  Interpreting</span>
                {% endif%}
                {% if course.credit_attitude != 0 %}
                <span class="ml-2">{{ course.credit_attitude }} Attitude</span>
                {% endif%}
                {% if course.credit_target_audiences != 0 %}
                <span class="ml-2">{{ course.credit_target_audiences }} Target audience</span>
                {% endif%}

              </small>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img class="d-none d-md-block float-right mt-0 ml-0 mb-0 img-fluid" src="{{ course.image.url }}"
            alt="image {{ course.name }}">
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}