{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header bg-purple">
      Payment
    </div>
    <div class="card-body text-justify">
      <p>
        The Training Hub is a progressive company. We are flexible, we like to keep up with the times. That is why we
        have a modern way of paying: you only pay when you have participated in a knowledge evening or training
        and you are guaranteed to receive points. On the evening itself or the training itself you can, of course, also
        pay by pin. You are welcome and can always sign up without obligation, we will keep a place for you and we look
        forward
        to seeing you.
      </p>
      <p>
        We do this because we also know how things are going in life. Your child is suddenly sick, you have a car
        breakdown, or for some other reason it suddenly doesn't work out to follow that training or knowledge evening.
        In addition, you are busy people who sometimes already have appointments for next December. Hence our commitment
        to flexible training (to be followed per day and you receive points per day) and method of payment.
      </p>
      <p>
        Off course we also have the option to pay in advance via our website. When cancelling you will get your money
        back or you can use it as credit for another course.
      </p>
      <p></p>
    </div>
  </div>
</div>
{% endblock content %}