{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header bg-purple">
      Privacy Statement
    </div>
    <div class="card-body">
      <p>
        In order to comply with the AVG legislation, it is necessary that we have a privacy statement from the Training
        Hub. Below you as the "user of the Traingshub" can read who we are, what data we keep, what we do with that
        data, how long and how we keep it and what you as a user have rights to this data.
      </p>
      <p>
        The Traingshub is a knowledge center where you can go with all your questions about the use of Dutch Sign
        Language (NGT) and interpreting for deaf and hard of hearing people. The Traingshub challenges, by means of
        training sessions, knowledge evenings and "Meet and Greets", NGT interpreters, writing interpreters and
        combination interpreters, to broaden their skills and to take a different interpretation direction or to apply
        an alternative interpretation strategy. We also offer training courses etc. for the deaf and hearing people.
      </p>
      <h6>What information do we keep and what do we use it for?</h6>
      <p>
        We at the Traingshub are not so much into unnecessary information. What we keep is therefore also necessary
        information to be able to do our work and you call this "mandatory information". For example, we cannot e-mail
        without an e-mail address. Or request further training points for your applications without your details. The
        mandatory information that we keep is for Mail-chimp, Imuis, and the RTGS.
      </p>
      <p>Mailchimp: One of our assignments is to inform you about our training sessions, knowledge evenings and Meet and
        Greets. We have your e-mail data in the Mail-chimp program in which we work with a processing agreement. More
        data is not kept in this program. So we have your first name, your last name and your e-mail address. We have
        removed this email address from the RTGS site or you have left it yourself in a contact moment. You can
        unsubscribe at any time from our mailing by pressing the button at the bottom of, also this, mail.
      </p>
      <p>
        iMuis: We also have your data in our invoice program Imuis, with which we also have a processing agreement. Here
        you will find your name and address data. We need this name and address data for invoicing. The program links
        your name and address data to a customer number that merges it with an invoice number. You write down this name
        and address if you have attended a workshop / knowledge evening or course on a list. We process this list in
        Imuis and then the list is destroyed.
      </p>
      <p>
        RTGS: There is another list that must be filled. This is the RTGS list. Where we used to send the list of
        signatures, it is now a list of names, your RTGS number that you have to enter yourself and a signature of your
        own. We at Woerden Traingshub also put a signature on it and scan this list for RTGS. We are still going to
        discuss with the RTGS whether we can be notified when this list has been processed by them so that this list can
        also be destroyed.
      </p>
      <p>
        Any recordings, videos or other visual material will be destroyed in your presence unless we have signed
        permission to save the material. You can indicate that the material may / must be sent to you. Then the video
        will be sent to you via we-transfer (we also have an agreement with that, also look at their site) and then
        destroyed by us.
        We do post pictures of events, but they are not recognizable as much as possible. (faces blurred, back of the
        people). We use stock photos on Facebook as much as possible. If you find that the procedure has not been
        correct because of the photos you are on, the photos will be immediately removed from the site and from
        Facebook. These photos are stored on the photo file of the TWH itself and are not distributed and deleted on
        request.
      </p>
      <h6>Your rights as a user of the Traingshub:</h6>
      <p>
        Right to view: we must send / share the personal data of a person if you ask.
        Right to rectification: has information been transferred incorrectly, changed or processed by us? Then we must
        adjust it if required.
        Right to submit a complaint: if you want to submit a complaint, this is done through the Dutch Data Protection
        Authority.
        Right to transfer: if we offer a service and you decide to switch to another party, you have the right to
        transfer the data to that other party.
        Right to stop the use of data: the person whose data is stored with us, so you, may indicate that you no longer
        want that data to be used by us.
      </p>
      <h6>How do we protect your data?</h6>
      <p>
        Lists of data (for example, a completed list after a knowledge evening) are destroyed after processing.
        Unnecessary information is deleted and our computers are protected with passwords and good anti-virus programs.
        Subsequently, the programs that we use and where data are stored (mail-chimp, Imuis, etc.) are again protected
        with two-step verification. So ... that must be fine!
      </p>
      <h6>Questions?</h6>
      <p>
        Do you have any questions after reading this privacy statement, do you have a comment or do you want to have
        done something with your data, please contact us! And furthermore: the copyrights of this privacy statement
        are
        with Dorothy de Leeuw, she set up this statement with great difficulty so cutting and pasting is not
        appreciated
      </p>
    </div>
  </div>
</div>
{% endblock content %}