@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap");

/* STICKY FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Catamaran", sans-serif;
    background-image: url("/static/img/bg.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}

/* COLORS */

.bg-white-faded {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-purple {
    background-color: #636dc3;
    color: #ffffff;
}

.text-purple {
    color: #636dc3;
}

.btn-outline-purple {
    border: 1px solid #636dc3;
    background-color: #ffffff;
    color: #636dc3;
}
.btn-outline-purple:hover {
    background-color: #636dc3;
    color: #ffffff;
}

.border-purple {
    border: 1px solid #636dc3;
}

/* NAVBAR */
nav img {
    height: 30px;
    width: auto;
}

.account-image {
    max-width: 100px;
    height: auto;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #636dc3;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s ease-in-out;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* dark overlay when mobile nav is active */
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
}

.overlay.active {
    display: block;
    opacity: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* HOME */
.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

/* USERS */
/* set size of avatars in the list view */
.small-img {
    max-width: 40px;
    max-height: 40px;
}

.clickable-row:hover {
    cursor: pointer;
}

/* Set table column to minimal width */
th.min,
td.min {
    width: 1%;
}

/* COURSES */
.course_link:hover {
    text-decoration: none;
}
