{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="d-none d-md-block col-sm-auto bg-white rounded shadow p-3">
            <div class="text-center">
                <img src="{{ user.profile.image.url }}" alt="avatar" class="img-fluid rounded-circle">
            </div>
            <ul class="list-unstyled overflow-hidden mt-2">
                <li>{{ user.first_name }} {{ user.last_name }}</li>
                <li>RTGS nr: {{ user.profile.rtgs_nr }}</li>
                <br>
                <li>{{ user.username }}</li>
                <br>
                <li>{{ user.profile.address }}</li>
                <li>{{ user.profile.postcode }} {{ user.profile.city }}</li>
            </ul>
            {% if request.user == user %}
            <div class="text-center">
                <a class="btn btn-outline-purple" href="{% url 'profile' %}">Edit profile</a>
            </div>
            {% endif %}
        </div>
        <div class="col">
            <h3>Upcoming:</h3>
            {% for i in upcoming %}
            <p>{{i.course.name}}</p>
            {% endfor%}
            <h3>Past courses:</h3>
            {% for p in past %}
            <p>{{p.course.name}}</p>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}