{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="d-none d-md-block col-sm-auto bg-white rounded shadow p-3">
            <div class="text-center">
                <img src="{{ user.profile.image.url }}" alt="avatar" class="img-fluid account-img rounded-circle">
            </div>
            <ul class="list-unstyled overflow-hidden mt-2">
                <li>{{ user.first_name }} {{ user.last_name }}</li>
                <li>RTGS nr: {{ user.profile.rtgs_nr }}</li>
                <br>
                <li>{{ user.username }}</li>
                <br>
                <li>{{ user.profile.address }}</li>
                <li>{{ user.profile.postcode }} {{ user.profile.city }}</li>
            </ul>
            {% if request.user == user %}
            <div class="text-center">
                <a class="btn btn-outline-purple" href="{% url 'profile' %}">Edit profile</a>
            </div>
            {% endif %}
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-purple">
                    <ul id="course-nav" class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="upcoming" class="nav-link active" href="">Upcoming courses</a>
                        </li>
                        <li class="nav-item">
                            <a id="past" class="nav-link text-white" href="">Finished courses</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!-- UPCOMING COURSES -->
                    <div id="upcoming-courses">
                        <div class="table-responsive-md mt-3">
                            <table class="table bg-light">
                                <tbody>
                                    {% for i in upcoming %}
                                    <tr>
                                        <th class="min align-middle" scope="row">
                                            <img src="{{ i.course.image.url }}" alt="avatar"
                                                class="small-img rounded-circle">
                                        </th>
                                        <td>{{i.course.name}}<br><small>{{ i.course.date }}</small></td>
                                        <td class="text-right align-middle">
                                            <a title="More info" href="{% url 'course-detail' pk=i.course.id %}">
                                                <i class="fas fa-info-circle btn btn-outline-purple"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- PAST COURSES -->
                    <div id="past-courses" class="d-none">
                        <div class="table-responsive-md mt-3">
                            <table class="table bg-light">
                                <tbody>
                                    {% for i in past %}
                                    <tr>
                                        <th class="min align-middle" scope="row">
                                            <img src="{{ i.course.image.url }}" alt="avatar"
                                                class="small-img rounded-circle">
                                        </th>
                                        <td>{{i.course.name}}<br>
                                            <small>{{ i.course.date }}</small>
                                        </td>
                                        <td class="text-right align-middle">
                                            <a href="{% url 'course-detail' pk=i.course.id %}">
                                                <i class="fas fa-info-circle btn btn-outline-purple"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}