{% extends 'base.html' %}
{% block content %}

<div class="table-responsive-md mt-3">
    <table class="table table-striped w-auto m-auto">
        <thead>
            <tr class="bg-purple text-white">
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Rtgs nr {{ users.len }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row" data-href="{% url 'profile' %}">
                <th scope="row"><img src="{{ user.profile.image.url }}" alt="avatar" class="userlist-img"></th>
                <td>{{ user.profile.first_name }}</td>
                <td>{{ user.profile.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.profile.city }}</td>
                <td>{{ user.profile.rtgs_nr }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}