{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <button type="button" class="btn btn-sm btn-outline-purple mt-3" data-toggle="modal" data-target="#exampleModal">
        <small><i class="fas fa-filter"></i></small> Show filters
    </button>
    {% for course in filter.qs %}
    <!-- COURSE CARDLIST -->
    <div class="card mt-3 mb-3 shadow">
        <div class="card-header bg-purple text-light">
            <i class="far fa-calendar-alt"></i> {{ course.date }}
        </div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-md-9">
                    <div class="pt-3 pb-1 px-3">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text m-2">{{ course.description | linebreaks | truncatewords:50 }}</p>

                        <!-- BUTTON FOR EDITING COURSE FOR STAFF MEMBERS -->
                        {% if user.is_staff %}
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'course-update' pk=course.id %}"><i
                                class="fas fa-edit mr-2"></i>Edit course</a>
                        {% endif %}

                        <a class="btn btn-sm btn-outline-purple" href="{% url 'course-detail' pk=course.id %}"><i
                                class="fas fa-info-circle mr-2"></i>More info</a>

                        <!-- BUTTON FOR SIGNUP, IF ALREADY SIGNED UP A DISABLED BUTTON IS SHOWN -->
                        {% if course.id in signedup %}
                        <a class="btn btn-sm btn-secondary disabled" href="{% url 'signup' id=course.id %}"><i
                                class="fas fa-check-double mr-2"></i>Signed up</a>
                        {% else %}
                        <a class="btn btn-sm btn-outline-success" href="{% url 'signup' id=course.id %}"><i
                                class="fas fa-user-plus mr-2"></i>Sign up</a>
                        {% endif %}

                        <!-- EXTRA INFO ABOUT THE COURSE -->
                        <div class="mt-2 mb-0">
                            <small class="text-muted">
                                <!-- Costs for the course -->
                                {% if course.costs != 0 %}
                                <i class="fas fa-euro-sign"></i>
                                {{ course.costs }}
                                {% endif %}
                                <!-- Target audience for course -->
                                <i class="fas fa-users ml-3"></i>
                                {% if course.ngt %}
                                <span class="ml-2">NGT </span>
                                {% endif%}
                                {% if course.schrijftolk %}
                                <span class="ml-2">Schrijftolk </span>
                                {% endif%}
                                {% if course.asl %}
                                <span class="ml-2">ASL </span>
                                {% endif%}
                                {% if course.combitolk %}
                                <span class="ml-2">Combitolk</span>
                                {% endif%}

                                <!-- Credtit for course -->
                                <i class="far fa-credit-card ml-3"></i>
                                {% if course.credit_language_and_interpreting_skills != 0 %}
                                <span class="ml-2">{{ course.credit_language_and_interpreting_skills }} Language &
                                    Interpreting</span>
                                {% endif%}
                                {% if course.credit_attitude != 0 %}
                                <span class="ml-2">{{ course.credit_attitude }} Attitude</span>
                                {% endif%}
                                {% if course.credit_target_audiences != 0 %}
                                <span class="ml-2">{{ course.credit_target_audiences }} Target audience</span>
                                {% endif%}

                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="d-none d-md-block float-right mt-0 ml-0 mb-0 img-fluid" src="{{ course.image.url }}"
                        alt="image {{ course.name }}">
                </div>
            </div>
        </div>
    </div>
    <!-- </a> -->
    {% endfor %}
</div>
{% endblock content %}
{% block modals %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="exampleModalLabel">FILTERS</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    {{ filter.form.name | as_crispy_field }}
                    {{ filter.form.course_type | as_crispy_field }}
                    {{ filter.form.location | as_crispy_field }}
                    <div class="row">
                        <div class="col-md-3">
                            {{ filter.form.ngt | as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{ filter.form.asl | as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{ filter.form.schrijftolk | as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{ filter.form.combitolk | as_crispy_field }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-purple">SEARCH</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}