{% extends 'base.html' %}
{% block content %}
<div class="container panel mt-3 border rounded">
    <div class="row panel-header border-bottom">
        <img class="d-none d-md-block col-md-2" src="{{ object.image.url }}" alt="image {{ object.name }}">
        <h1 class="align-middle">{{ object.name }}</h1>
    </div>
    <div class="row panel-body">
        <!-- panel left -->
        <div class="panel-left col-md-4 border-right">
            <small class="text-muted">
                Suited for:
            </small>
            <div>
                {% if object.ngt %}
                    <span>NGT, </span>
                {% endif%}
                {% if object.schrijftolk %}
                    <span>Schrijftolk, </span>
                {% endif%}
                {% if object.asl %}
                    <span>ASL, </span>
                {% endif%}
                {% if object.combitolk %}
                    <span>Combitolk.</span>
                {% endif%}
            </div>
            <small class="text-muted">
                Credit:
            </small>
            <div>
                {% if object.credit_language_and_interpreting_skills != 0 %}
                {{ object.credit_language_and_interpreting_skills }} for Language and Interpreting skills
                {% endif %}
            </div>
            <div>
                {% if object.credit_attitude != 0 %}
                {{ object.credit_attitude }} for Attitude skills
                {% endif %}
            </div>
            <div>
                {% if object.credit_target_audiences != 0 %}
                {{ object.credit_target_audiences }} for Target Audience skills
                {% endif %}
            </div>
            <small class="text-muted">
                Date:
            </small>
            <div>
                {{ object.starts|date:"d F Y" }}
            </div>
            <small class="text-muted">
                Starts at:
            </small >
            <div>
                {{ object.starts|time:"H:i" }}
            </div>
            <small class="text-muted">
                Ends at:
            </small>
            <div>
                {{ object.ends|time:"H:i" }}
            </div>
            <small class="text-muted">
                Price:
            </small>
            <div>
                € {{ object.costs }}
            </div>
            <small class="text-muted">
                Location:
            </small>
            <div>
                {{ object.location.name }}<br>
                {{ object.location.street_address }}<br>
                {{ object.location.postcode }} {{ object.location.city }}
            </div>
        </div>
        <!-- panel right -->
        <div class="col-md-8">
            {{ object.description | linebreaks }}
        </div>
    </div>
</div>

{% endblock content %}