{% extends 'base.html' %}
{% block content %}
<div class="container shadow-lg mt-3">
    <div class="row">
        <div class="col-md-9 bg-white px-md-5">
            <h2 class="text-purple mt-3 border-bottom">{{ object.name }}</h2>

            <img class="float-md-left img-fluid mr-3" src="{{ object.image.url }}" alt="image {{ object.name }}">
            <span class="text-justify">{{ object.description | linebreaks }}</span>

        </div>
        <div class="col-md-3 bg-purple rounded">
            <legend class="mt-3 border-bottom">Course info</legend>
            <!-- DATE AND TIME COURSE -->
            <div class="mt-3 ml-2">
                <i class="far fa-calendar-alt mr-2"></i>
                <span class="ml-2">{{ object.date }}</span>
            </div>
            <div class="m-2">
                <i class="far fa-clock mr-2"></i>
                <span class="ml-2">{{ object.time }} - {{ object.endtime }}</span>
            </div>
            <!-- Costs for the course -->
            <div class="m-2">
                {% if object.costs != 0 %}
                <i class="fas fa-euro-sign mr-3"></i>
                <span class="ml-2">{{ object.costs }}</span>
                {% endif %}
            </div>
            <!-- Target audience for course -->
            <div class="m-2">
                <i class="fas fa-users float-left  mr-3"></i>
                <ul class="list-unstyled overflow-hidden">
                    {% if object.ngt %}
                    <li>NGT </li>
                    {% endif%}
                    {% if object.schrijftolk %}
                    <li>Schrijftolk </li>
                    {% endif%}
                    {% if object.asl %}
                    <li>ASL </li>
                    {% endif%}
                    {% if object.combitolk %}
                    <li>Combitolk</li>
                    {% endif%}
                </ul>
            </div>
            <!-- Credtit for course -->
            <div class="ml-2">
                <i class="far fa-credit-card float-left mr-3"></i>
                <ul class="list-unstyled overflow-hidden">
                    {% if object.credit_language_and_interpreting_skills != 0 %}
                    <li class="overflow-hidden">{{ object.credit_language_and_interpreting_skills }} Language &
                        Interpreting</li>
                    {% endif%}
                    {% if object.credit_attitude != 0 %}
                    <li class="overflow-hidden">{{ object.credit_attitude }} Attitude</li>
                    {% endif%}
                    {% if object.credit_target_audiences != 0 %}
                    <li class="overflow-hidden">{{ object.credit_target_audiences }} Target audience</li>
                    {% endif%}
                </ul>
            </div>
            <!-- COURSE LOCATION -->
            <div class="ml-2">
                <i class="fas fa-map-marker-alt float-left mr-3"></i>
                <ul class="list-unstyled overflow-hidden">
                    <li>{{object.location.name}}</li>
                    <li>{{object.location.street_address}}</li>
                    <li>{{object.location.postcode}} {{object.location.city}}</li>
                </ul>
            </div>
            <div class="text-center mb-3">
                <a class="btn btn-light text-purple btn-outline-purple" href="{% url 'signup' pk=object.id %}">Sign up</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
