{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for course in object_list %}
    <a class="text-dark course_link" href="{% url 'course-detail' pk=course.id %}">
        <div class="card mt-3 mb-3">
            <div class="card-header bg-purple text-light">
                {{ course.starts|date:"d F Y" }} - {{ course.name }}
            </div>
            <div class="card-body p-0">
                <img class="d-none d-md-block float-left mt-0 ml-0 mb-0 mr-2 course_img" src="{{ course.image.url }}"
                    alt="image {{ course.name }}">
                <div class="m-2">
                    {{ course.description|linebreaks|truncatewords:50 }}
                </div>
            </div>
            <div class="card-footer text-muted">
                Suited for:
                {% if course.ngt %}
                <span>NGT, </span>
                {% endif%}
                {% if course.schrijftolk %}
                <span>Schrijftolk, </span>
                {% endif%}
                {% if course.asl %}
                <span>ASL, </span>
                {% endif%}
                {% if course.combitolk %}
                <span>Combitolk.</span>
                {% endif%}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}