{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4">
        <p>{{ course.id }} - {{ course.name }} - {{ course }}</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ s_form | crispy }}
            {% if signedup %}
                <button name="confirm" disabled type="submit" class="btn btn-primary"><i class="fas fa-pen-nib mr-2"></i>Confirm registration</button>
                <button name="pay" disabled type="submit" class="btn btn-success"><i class="fas fa-money-bill mr-2"></i>Confirm and pay</button>
            {% else %}
                <button name="confirm" type="submit" class="btn btn-primary"><i class="fas fa-pen-nib mr-2"></i>Confirm registration</button>
                <button name="pay" type="submit" class="btn btn-success"><i class="fas fa-money-bill mr-2"></i>Confirm and pay</button>
            {% endif%}
        </form>
        <p>{{ signups }}</p>
    </div>

{% endblock content %}
