{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block content %}
<div class="container mt-4">
    <form action="" method="POST">

        {% csrf_token %}
        <div class="card mt-4 shadow">
            <div class="card-header bg-purple">
                Personal Information
            </div>
            <div class="card-body">
                <!-- COURSE INFO -->
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="{{ course.image.url }}" alt="" class="img-fluid rounded w-25">
                        {{ course.name }}
                    </div>
                    <div>
                        € {{ course.costs }}
                    </div>
                </div>
                <div>
                    <img src="{{ request.user.profile.image.url }}" alt=""
                        class="img-fluid rounded">{{ request.user.first_name }}
                    <span>{{ request.user.last_name }}</span><br>
                    <small>RTGS nr:</small> {{ request.user.profile.rtgs_nr }}
                </div>
                <div>Invoice information:</div>
                {{ s_form | crispy }}
                <div class="mt-3">
                    {% if signedup %}
                    <button name="confirm" disabled type="submit" class="btn btn-secondary shadow">
                        <i class="fas fa-pen-nib mr-2"></i>Confirm registration
                    </button>
                    {% else %}
                    <button name="confirm" type="submit" class="btn btn-outline-purple shadow mr-2">
                        <i class="fas fa-pen-nib mr-2"></i>Confirm registration
                    </button>
                    {% endif%}
                </div>

            </div>
        </div>
    </form>
</div>
{% endblock content %}